<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.business.imbudget.mapper.ImBudgetSettingMapper">

    <resultMap id="imbudgetSettingResultMap" type="org.springblade.modules.business.imbudget.entity.ImBudgetSetting">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="period_type" property="periodType"/>
        <result column="budget_amount" property="budgetAmount"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
