<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.business.imusercontext.mapper.ImUserContextMapper">

    <resultMap id="imusercontextResultMap" type="org.springblade.modules.business.imusercontext.entity.ImUserContext">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="current_scope_type" property="currentScopeType"/>
        <result column="current_group_id" property="currentGroupId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
